body{
    margin: 0;
    background-color: rgb(245, 245, 245);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: #000;
}
p{
    margin:0;
}
*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.container-custom{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header{
    position: fixed;
    font-size: 16px;
    background-color: #262626;
    padding: 0 25px;
    width: 100%;
    z-index: 1000;
}

.header_fixed{
    position: fixed;
    transition: .9s linear position;
}

.nav-bar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav__item{
    padding-top: 15px;
}

.nav__branding{
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}

.nav__branding:hover{
    color: #fff;
}

.nav__link{
    color:#fff;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s ease;
}

.nav__link:hover{
    color:#F0413C
}

.burger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

/*intro
*
*/
.intro-about{
    display: flex;
    flex-direction: column;
    height: 240px;
    background: rgb(70, 65, 65) url("/images/about-intro.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    z-index: 3;
}


.intro__inner-about{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-top: 100px;
}

.intro__inner-main{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px;
    justify-self: center;
    line-height: 1.5;
    width: 100%;
    font-weight: 500;
    padding-bottom: 100px;
}

.intro_button{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    height: 50px;
    margin: 0 auto;
    border: 2px solid #F0413C;
    text-decoration: none;
    padding: 15px 40px;
    transition: .2s linear background;
}

.intro_button:hover{
    background: #F0413C;
}

.feature__picture{
    padding-right: 50px;
    margin-bottom: 50px;
    max-width: 100px;
    max-height: 100px;
}


.achievement{
    position: relative;
    padding-bottom: 30px;
}

.title{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: 500;
    text-align: center;
    padding-bottom: 45px;
    position: relative;
}

.title:after{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #F0413C;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.achievement_list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 0;
}

.achievement_item{
    display: block;
    width: 25%;
    overflow: hidden;
    position: relative;
    height: 300px;
}

.achievement_item_hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 65, 60, .7);
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    opacity: 0;
    transition: .5s ease opacity;
    z-index: 200;
}

.achievement_item:hover .achievement_item_hover{
    opacity: 1;
}

.achievement_item:hover img{
    transform: scale(1.3) rotate(5deg);
}

.achievement_item img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    transition: all .5s ease;
}

.certificate{
    max-width: 360px;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 29px 27px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 29px 27px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 29px 27px rgba(34, 60, 80, 0.2);
}

.certificate:hover{
    -webkit-box-shadow: 0px 0px 18px 42px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 18px 42px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 18px 42px rgba(34, 60, 80, 0.2);
    transition: .5s ease box-shadow;
}

.certificate__image{
    border-radius: 15px;
    max-width: 360px;
    background-color: #000;
}

.certificate__title{
    padding: 20px  0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.certificate__description{
    text-align: center;
    padding-bottom: 10px;
}

.certificate__purchase{
    display: flex;
    flex-direction: column;
}

.certificate__cost{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 10px;
}

.certificate__count{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
}

.certificate__count-text{
    padding-right: 10px;
}

.certificate__count-selection{

}

.certificate__purchase-buttons{
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
}

.certificate__purchase-button{
    padding: 10px;
}

.button__more{
    margin: 50px auto;
    padding: 20px 0;
    max-width: 300px;
}

.quote_item{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.quote{
    background: url("/images/mainpage/quote_image.jpg") center no-repeat;
    -webkit-background-size: cover;
}

.blur{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(12px);
}

.quote_desc{
    padding-right: 100px;
    padding-left: 220px;
    line-height: 2;
}

.quote_text{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
}

.quote_author{
    font-size: 24px;
    font-weight: 700;
    color: #F0413C;
    text-align: right;
}

.quote_author_desc{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-align: right;
}

.quote_image{
    width: 400px;
    height: 400px;
}

.teacher_title{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;

    box-sizing: 2px;
    color: #000;
    margin-top: 10px;
    text-align: center;
}

.teachers{
    padding-top: 50px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.teacher__item{
    width: 33%;
    padding: 0 15px;
    padding-bottom: 30px;
}

.teacher__photo{
    display: block;
    max-width: 400px;
    height: auto;
}

.teacher__item-title{
    color: #000;
    text-align: center;
    padding-bottom: 8px;
    padding-top: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.teacher__text{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.teacher__photo{
    max-width: 433px;
    margin: 0 auto;
}

.button__teaÑher{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.or-call{
    font-family: 'Open Sans', sans-serif;
    min-height: 100px;
    background-color: #dc3545;
    width:100%;
    color: #fff;
    font-size: 36px;
    text-align: center;
    line-height: 3em;
}

.number__footer{
    color:#fff;
    text-decoration: none;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 500ms;
}
.number__footer:hover{
    color:#fff;
    text-decoration: underline;
}

.footer{
    position: relative;
    height: 100%;
}

.footer_all_items{
    height: 160px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_item{
    text-align: center;
    width: 33.3%;
    line-height: 1.5;

}

.footer_title{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: 700;
    color: #fff;
}
.footer_number{
    padding: 0 100px;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.footer_social_link{
    padding-right: 10px;
}
.footer_about_text{
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding: 0 100px;
}

.footer_madeby{
    height: 40px;
    background-color: rgb(39, 39, 39);
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center
}

.carousel-item{
    max-height: 742px;
}

.reserve__content{

}

.reserve__price{
    text-align: right;
    padding: 30px 0;
    font-weight: 700;

}

.reserve__instruction{
    padding-bottom: 30px;
}

.reserve__input{

}

.reserve__name{
    font-weight: 700;
}

.reserve__input-name{
    border-radius: 5px;
    width: 100%;
    padding-bottom: 20px;
}

.reserve__input-number{
    border-radius: 5px;
    width: 100%;
    padding-bottom: 20px;
}

.reserve__input-comment{
    border-radius: 5px;
    width: 100%;
    padding-bottom: 20px;
    height: 100px;
}

.reserve__checkbox{
    margin-bottom: 15px;
}

.reserve__checkbox:checked{
    background-color: #dc3545;
    border: #dc3545;
}

.reserve__checkbox-text{
    padding-left: 10px;
}

.reserve__agreement{

}

@media(max-width: 1400px){
    .teacher__photo{
        max-width: 90%;
    }
}

@media (max-width: 1050px){
    .achievement_item{
        flex: 33.3%;
    }
    h5{
        font-size: 16px;
    }
    .burger{
        display: block;
    }
    .burger.active .bar:nth-child(2){
        opacity: 0;
    }
    .burger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav__branding{
        font-size: 1.5rem;
    }

    .nav-bar{
        min-height: 50px;
    }

    .nav__menu{
        position: fixed;
        left: -100%;
        top:70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav__item{
        margin: 16px 0;
    }

    .nav__menu.active{
        left: 0;
        top: 5%;
    }
}

@media (max-width: 991px){
    .quote_text{
        font-size: 14px;
    }
    .quote_desc{
        padding-left: 0px;
        padding-right: 0px;
    }
    .quote_image{
        width: 100px;
        height: 100px;
    }
    .footer_number{
        padding: 0px;
    }
    .footer_about_text{
        padding: 0px;
    }
}
@media (max-width: 768px){
    .achievement_item{
        flex: 50%;
    }
    .intro__inner-main{
        font-size: 24px;
    }
}
@media (max-width: 530px){
    .achievement_item{
        flex: 100%;
    }
    .or-call{
        font-size: 30px;
    }

}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:50px;
    display:none;
    text-indent:-9999px;
    z-index: 10000;
    background: url('/images/icons/icon_top.png') no-repeat;
}

.sort__select{
    margin-bottom: 50px;
    margin-left: 100px;
}

.certificate__price{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    padding: 20px 0;
}

.certificate__purchase-button{
    margin: 20px 0;
}

.about__description{
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.about__inner{
    color :#000;
}

.about__content ul li{
    list-style-type:disc;
}

.about__content ol > li{
    margin-bottom: 10px;
}

.about__content{
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.parallax__header{
    background: #000;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.8)
    ),
    url("/images/co.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax__header-content{
    padding: 100px 0 150px 0;
}
.parallax__header-quote{
    background: #000;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.8)
    ),
    url("/images/ssc-dnipro-4.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gun__about{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.gun__about-item{
    display: flex;
    line-height: 2em;
    justify-content: space-between;
}
.about__title{
    font-weight: 700;
}
.about__value{}

.gun__text{

    font-family: 'Open Sans', sans-serif;
}

.button__order{
    margin: 15px 0 0 0;
    height: 50px;
}

.gun__text-more{
    margin: 50px 0 0;

}

.gun__text-more__item{
    max-width: 33.3%;
}

.gun{
    max-width: 200px;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 20px;
    -webkit-box-shadow: -1px -3px 12px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px -3px 12px -2px rgba(34, 60, 80, 0.2);
    box-shadow: -1px -3px 12px -2px rgba(34, 60, 80, 0.2);
    transition: .5s ease box-shadow;
}

.gun:hover{
    -webkit-box-shadow: -1px -3px 19px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px -3px 19px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -1px -3px 19px 0px rgba(34, 60, 80, 0.2);
    transition: .5s ease box-shadow;
}

.gun__image{
    border-radius: 15px;
    max-width: 200px;
    background-color: #000;
}

.gun__title{
    text-decoration: none;
    padding: 20px  0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.gun__description{
    text-align: center;
    text-decoration: none;
    padding-bottom: 10px;
}

.gun__link{
    text-decoration: none;
    color: #000;
}

.gun__link:hover{
    color: #000;
}

@media (max-width: 991px){
    .gun__text{
        margin-left: 0px;
    }
    .gun{
        min-width: 400px;
        max-width: 400px;
    }
    .gun__image{
        min-width: 400px;
        max-width: 400px;
    }
    .gun-all{
        margin-right: 60px;
    }
}

.gun-all__item{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    margin-bottom: 50px;
    flex-direction: column;
    font-size: 14px;
    max-width: 350px;
}
.gun-all__image{
    border: 3px solid #dc35468a;
    max-width: 350px;
    min-width: 350px;
    margin-bottom: 10px;
}
.gun-all__title{
    font-weight: 700;
    font-size: 20px;
}
.gun-all__slug{
    margin: 15px 0;
}
.gun-all__feature{
    display: flex;
    justify-content: space-between;
}


@media (max-width: 991px){
    .gun-all__item{
        margin-right: 100px;
        max-width: 280px;
        min-width: 280px;
    }
    .gun-all__image{
        max-width: 280px;
        min-width: 280px;
    }
}

@media (max-width: 767px){
    .gun-all{
        margin: 0 auto;
    }
    .gun-all__item{
        margin: 0 auto;
        margin-bottom: 80px;
        max-width: 380px;
        min-width: 380px;
    }
    .gun-all__image{
        max-width: 380px;
        min-width: 380px;
    }
    .gun-all__filter-item{

    }

}


.gun-all{
    -webkit-box-shadow: 0px 1px 4px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(34, 60, 80, 0.2);
}

.gun-all__filter{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    min-width: 220px;

    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.gun-all__filter-item{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.gun-all__input{

}

.gun-all__input>input{
    margin-right: 10px;
}

.gun-all__filter-buttons{
    display: flex;

}

.gun-all__filter-buttons>button{

    height: 35px;
    font-size: 14px;
}

.profile__image{

    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;

}

.profile__image-inner{
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.profile__image-change{
    width: 250px;
}

.profile__image-change>button{
    opacity: .6;
    width: 100%;
    transition: all .5s;
}
.profile__image-change>button:hover{
    opacity: 1;
    transition: all .5s;
}

.profile__inner{
    margin-bottom: 65px;
    line-height: 3em;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.profile__change{
    margin: 20px 0;
}

.profile__table-certificate{
    font-family: 'Open Sans', sans-serif;
    font-size: 14z  px;
    margin-bottom: 200px;
}

.profile__active-see{
    text-decoration: none;
    color: #000;
}

.profile__active-see:hover{
    color: #000;
}

@media (max-width: 767px){
    .profile__table-certificate{
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }

}

@media (max-width: 767px){
    .admin-main{

        font-size: 12px;
    }
    .admin-main>h1{

        font-size: 12px;
    }
}

.gun__add-input{
    margin-bottom: 20px;
}
